/* Reset styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}
