<section class="about-game" id="about">
  <div class="container">
    <h2 class="about-title">About the Game</h2>
    <div class="wrap">
      <div class="image-block">
        <img
          class="about-img"
          srcset="
            /img/about-the-game/game-img_@1x.png 1x,
            /img/about-the-game/game-img_@2x.png 2x
          "
          src="/img/about-the-game/game-img_@1x.png"
          alt="A picture of the game"
          width="288"
          height="202"
        />
      </div>

      <div class="description-block">
        <p class="description-text">
          Don’t let the cards fool you! <br />
          Mystic Duel: Heroes Realm is a one-of-a-kind card battler where
          strategy, timing, and psychological prediction are the keys to
          victory. <br />
          Duel against real players in the Mystic Arenas, where every card is
          shared and every move could be your last.
        </p>
        <ul class="fix">
          <li class="description-text">
            <svg class="svg-bow">
              <use href="./public/sprite.svg#icon-bow"></use>
            </svg>
            <p class="text-item">
              Control a shared deck with your opponent—pull, merge, or discard
              strategically
            </p>
          </li>
          <li class="description-text">
            <svg class="svg-bow">
              <use href="./public/sprite.svg#icon-bow"></use>
            </svg>
            <p class="text-item">
              Assemble the strongest lineup of mystical Heroes
            </p>
          </li>
          <li class="description-text">
            <svg class="svg-bow">
              <use href="./public/sprite.svg#icon-bow"></use>
            </svg>
            <p class="text-item">
              Outsmart your rivals in rapid-fire, high-stakes PvP battles
            </p>
          </li>
        </ul>
        <p class="description-text">
          Whether you're a seasoned tactician or new to card duels, Mystic Duel
          offers a fresh twist on the genre.
        </p>
      </div>
    </div>
  </div>
</section>
