<section class="faq">
  <div class="container">
    <h2 class="main-faq-title">faq</h2>

    <ul class="accordion-container faq-list">
      <li class="ac faq-item">
        <h2 class="ac-header faq-title">
          <button type="button" class="ac-trigger faq-btn">
            Is Mystic Duel free to play?
            <svg class="icon-faq">
              <use href="../public/sprite.svg#icon-down-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Yes! It’s free with optional in-game purchases.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h2 class="ac-header faq-title">
          <button type="button" class="ac-trigger faq-btn">
            Is it online only?
            <svg class="icon-faq">
              <use href="../public/sprite.svg#icon-down-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            PvP requires an internet connection. Offline modes coming soon.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h2 class="ac-header faq-title">
          <button type="button" class="ac-trigger faq-btn">
            Can I upgrade my cards?
            <svg class="icon-faq">
              <use href="../public/sprite.svg#icon-down-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Yes! Level up your heroes and unlock advanced abilities.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h2 class="ac-header faq-title">
          <button type="button" class="ac-trigger faq-btn">
            Will there be new content?
            <svg class="icon-faq">
              <use href="../public/sprite.svg#icon-down-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Absolutely. New heroes, arenas, and events are added regularly.
          </p>
        </div>
      </li>

      <li class="ac faq-item">
        <h2 class="ac-header faq-title">
          <button type="button" class="ac-trigger faq-btn">
            Is this game suitable for beginners?
            <svg class="icon-faq">
              <use href="../public/sprite.svg#icon-down-arrow"></use>
            </svg>
          </button>
        </h2>
        <div class="ac-panel faq-panel">
          <p class="ac-text faq-text">
            Yes! The tutorial and practice modes are perfect for new players.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
