<section class="features" id="features">
  <div class="container">
    <h2 class="features-title">Game Features</h2>

    <ul class="features-item">
      <li class="features-list">
        <svg class="svg-features square">
          <use href="../public/sprite.svg#icon-square"></use>
        </svg>
        <h3 class="features-list-title">Innovative Card Control</h3>
        <p class="features-text">
          A shared deck system that rewards clever choices.
        </p>
      </li>

      <li class="features-list">
        <svg class="svg-features sword">
          <use href="../public/sprite.svg#icon-sword"></use>
        </svg>
        <h3 class="features-list-title">Strategic PvP Battles</h3>
        <p class="features-text">
          Real-time duels where mind games are just as important as cards.
        </p>
      </li>

      <li class="features-list">
        <svg class="svg-features people">
          <use href="../public/sprite.svg#icon-people"></use>
        </svg>
        <h3 class="features-list-title">Hero Collection</h3>
        <p class="features-text">
          Discover powerful and unique heroes to power up your deck.
        </p>
      </li>

      <li class="features-list">
        <svg class="svg-features setting">
          <use href="../public/sprite.svg#icon-setting"></use>
        </svg>
        <h3 class="features-list-title">Merge Mechanics</h3>
        <p class="features-text">
          Combine cards for stronger abilities and effects.
        </p>
      </li>

      <li class="features-list">
        <svg class="svg-features world">
          <use href="../public/sprite.svg#icon-world"></use>
        </svg>
        <h3 class="features-list-title">Online Duels</h3>
        <p class="features-text">
          Compete with players around the world in fast, tactical matches.
        </p>
      </li>

      <li class="features-list">
        <svg class="svg-features star">
          <use href="../public/sprite.svg#icon-star"></use>
        </svg>
        <h3 class="features-list-title">Mystical Visuals</h3>
        <p class="features-text">
          Stunning animations and magical UI for full immersion.
        </p>
      </li>
    </ul>
  </div>
</section>
