<section class="atmosphere">
  <div class="container">
    <div class="title-wrapper">
      <svg class="title-svg">
        <use href="../public/sprite.svg#icon-line-right"></use>
      </svg>
      <h2 class="atmosphere-title">Game Atmosphere</h2>
      <svg class="title-svg">
        <use href="../public/sprite.svg#icon-line-left"></use>
      </svg>
    </div>
    <ul class="atmosphere-list">
      <li class="atmosphere-item">
        Mystic Duel immerses you in an ethereal realm where every card glows
        with power and every duel is a battle of wits.
      </li>
      <li class="atmosphere-item">
        From ancient temples to enchanted forests, each arena is filled with
        mystery and tension.
      </li>
      <li class="atmosphere-item">
        An ambient, mystical soundtrack and detailed animations make every match
        feel like a magical face-off.
      </li>
    </ul>
  </div>
</section>
