<header class="header">
  <div class="container">
    <a class="header-logo" href="">
      <img
        class="header-logo-img"
        src="/img/header/mystic-duel-heroes-realm-logo.png"
        srcset="
          /img/header/mystic-duel-heroes-realm-logo.png     1x,
          /img/header/mystic-duel-heroes-realm-logo_@2x.png 2x
        "
        alt="logo"
      />
    </a>

    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">About the Game</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">How to Play</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Heroes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Atmosphere</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>

    <button class="header-burger-btn" type="button" data-action="open">
      <svg class="burger-menu-open">
        <use href="./public/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="burger-menu" data-visible="close">
      <button class="burger-btn close" data-action="close" type="button">
        <svg class="header-menu-close">
          <use href="./public/sprite.svg#icon-right-close"></use>
        </svg>
        <svg class="header-menu-close">
          <use href="./public/sprite.svg#icon-left-close"></use>
        </svg>
      </button>

      <ul class="burger-list">
        <li class="burger-item">
          <a class="nav-link" href="#about">About the Game</a>
        </li>
        <li class="burger-item">
          <a class="nav-link" href="#">How to Play</a>
        </li>
        <li class="burger-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="burger-item">
          <a class="nav-link" href="#">Heroes</a>
        </li>
        <li class="burger-item">
          <a class="nav-link" href="#">Atmosphere</a>
        </li>
        <li class="burger-item">
          <a class="nav-link" href="#">Reviews</a>
        </li>
        <li class="burger-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </div>
  </div>
</header>
