<section class="hero">
  <div class="hero container">
    <img
      src="../img/hero/game.png"
      alt="Picture of game"
      class="game-img"
      width="238"
      height="257"
    />

    <h1 class="game-title">
      Mystic Duel: Heroes Realm –
      <span class="game-slogan">Control the Cards, Command the Battle!</span>
    </h1>

    <p class="game-description">
      Outplay your rivals in a mystical PvP card battle arena!
    </p>

    <button class="download-button">
      <img src="../img/hero/logos_google-play-icon.png" alt="" class="" />
      <a class="button-text"> Play Now on <span>Google Play</span> </a>
    </button>
  </div>
</section>
