<section class="hero">
  <div class="hero container">
    <img
      src="../img/hero/game.png"
      alt="Picture of game"
      class="game-img"
      width="238"
      height="257"
    />

    <h1 class="game-title">
      Mystic Duel: Heroes Realm –
      <span class="game-slogan">Control the Cards, Command the Battle!</span>
    </h1>

    <p class="game-description">
      Outplay your rivals in a mystical PvP card battle arena!
    </p>

    <a
      class="download-button"
      href="https://play.google.com/store/apps/details?id=com.mystic.duel&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="../img/hero/logos_google-play-icon.png"
        alt="Icon play market"
        class="play-market-img"
      />
      <div class="link-text">
        <span class="button-text">Play Now on</span>
        <span class="google-play">Google Play</span>
      </div>
    </a>
  </div>
</section>
