<section class="hero">
  <div class="hero container">
    <img src="../img/hero/left.png" alt="" class="left-img" />
    <img src="../img/hero/right.png" alt="" class="right-img" />

    <h1 class="game-title">Mystic Duel: Heroes Realm –</h1>
    <p class="game-slogan">Control the Cards, Command the Battle!</p>

    <p class="game-description">
      Outplay your rivals in a mystical PvP card battle arena!
    </p>

    <button class="download-button">
      <img src="../img/hero/logos_google-play-icon.png" alt="" class="" />
      <a class="button-text"> Play Now on Google Play </a>
    </button>
  </div>
</section>
