<section class="toPlay" id="toPlay">
  <div class="container">
    <h2 class="main-sec-title">How to Play</h2>
    <ul class="how-list">
      <li class="how-item">
        <p class="how-text">
          Choose a Hero Card – Each round, pick from 3 shared cards: pull,
          merge, or discard.
        </p>
      </li>
      <li class="how-item">
        <p class="how-text">
          Predict the Opponent – Read your rival’s strategy and make the right
          move.
        </p>
      </li>
      <li class="how-item">
        <p class="how-text">
          Unleash Hero Abilities – Activate powerful effects and combos
          mid-battle.
        </p>
      </li>
      <li class="how-item">
        <p class="how-text">
          Build Your Deck – Collect unique heroes and customize your strategy.
        </p>
      </li>
      <li class="how-item">
        <p class="how-text">
          Climb the Ranks – Win matches to rise in the global PvP arena.
        </p>
      </li>
    </ul>
  </div>
</section>
