<section class="master">
  <img
    src="../img/master/left-top.png"
    srcset="../img/master/left-top.png 1x, ../img/master/left-top@2x.png 2x"
    class="corner top-left"
  />
  <img
    src="../img/master/left-top.png"
    srcset="../img/master/left-top.png 1x, ../img/master/left-top@2x.png 2x"
    class="corner top-right"
  />
  <img
    src="../img/master/left-top.png"
    srcset="../img/master/left-top.png 1x, ../img/master/left-top@2x.png 2x"
    class="corner bottom-left"
  />
  <img
    src="../img/master/left-top.png"
    srcset="../img/master/left-top.png 1x, ../img/master/left-top@2x.png 2x"
    class="corner bottom-right"
  />
  <div class="master container">
    <h2 class="master-title">Master the Cards, Rule the Realm!</h2>
    <p class="master-slogan">
      🌟 Download Mystic Duel now and enter the arena of strategy and magic!
    </p>
    <a class="master-btn" href=""></a>
  </div>
</section>
