<section class="master">
  <div class="master container">
    <img
      src="/img/master/left-top.png"
      srcset="/img/master/left-top.png 1x, /img/master/left-top@2x.png 2x"
      class="corner top-left"
    />
    <img
      src="/img/master/left-top.png"
      srcset="/img/master/left-top.png 1x, /img/master/left-top@2x.png 2x"
      class="corner top-right"
    />
    <img
      src="/img/master/left-top.png"
      srcset="/img/master/left-top.png 1x, /img/master/left-top@2x.png 2x"
      class="corner bottom-left"
    />
    <img
      src="/img/master/left-top.png"
      srcset="/img/master/left-top.png 1x, /img/master/left-top@2x.png 2x"
      class="corner bottom-right"
    />
    <h2 class="master-title">Master the Cards, Rule the Realm!</h2>
    <p class="master-slogan">
      🌟 Download Mystic Duel now and enter the arena of strategy and magic!
    </p>
    <a
      class="master-button"
      href="https://play.google.com/store/apps/details?id=com.mystic.duel&hl=en&gl=us"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Download Mystic Duel on Google Play"
    >
      <img
        src="/img/master/"
        srcset="
          /img/master/google-play-icon.png    1x,
          /img/master/google-play-icon@2x.png 2x
        "
        alt="Icon play market"
        class="play-market-img"
      />
      <div class="link-text">
        <span class="button-text">Play Now on</span>
        <span class="google-play">Google Play</span>
      </div>
    </a>
  </div>
</section>
