<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-list">
      <li class="reviews-item">
        <p class="reviews-respond">
          “Finally, a card game that feels fresh! Love the shared deck
          mechanic.”
        </p>
        <p class="reviews-name">Lucas N.</p>
      </li>
      <li class="reviews-item">
        <p class="reviews-respond">
          “Mystic Duel is smart, stylish, and totally addictive.”
        </p>
        <p class="reviews-name">Dan H.</p>
      </li>
      <li class="reviews-item">
        <p class="reviews-respond">
          “Fast PvP battles with deep strategy. This game is brilliant.”
        </p>
        <p class="reviews-name">Chris D.</p>
      </li>
      <li class="reviews-item">
        <p class="reviews-respond">
          “Addicting and intense. Every duel feels like a chess match!”
        </p>
        <p class="reviews-name">Maya T.</p>
      </li>
      <li class="reviews-item">
        <p class="reviews-respond">
          “The heroes are so unique. Building my deck is half the fun!”
        </p>
        <p class="reviews-name">Irene V.</p>
      </li>
    </ul>
  </div>
</section>
