.faq {
  background-color: #2c003e;
  margin: 0 auto;
  scroll-margin-top: 70px;
  @media only screen and (min-width: 1200px) {
    scroll-margin-top: 80px;
  }
}

.faq .container {
  padding-top: 48px;
  padding-bottom: 48px;
}

.main-faq-title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 20px;

  line-height: 1.35;
  color: #ddd9d4;
  text-align: center;

  margin-bottom: 24px;

  @media only screen and (min-width: 1200px) {
    font-size: 32px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ac.faq-item {
  border-radius: 5px;
  border: none;
  padding: 8px;
  width: 288px;

  background-color: #bea0c5;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1200px) {
    width: 629px;
    padding-top: 23px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 23px;
    transition: padding 250ms ease;

    &.is-active {
      padding-bottom: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.ac .ac-header.faq-title {
  transition: margin 300ms ease-in-out;
  color: #080606;
}
.ac.faq-item.js-enabled.is-active .faq-title {
  margin-bottom: 16px;

  @media only screen and (min-width: 1200px) {
    margin-bottom: 28px;
  }
}
.ac .ac-trigger.faq-btn {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
  padding: 0;
  text-align: left;

  @media only screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.28;
  }
}

.icon-faq {
  stroke-width: 2px;
  stroke: #080606;
  fill: transparent;
  width: 36px;
  height: 12px;
  transition: transform 250ms ease;

  @media screen and (min-width: 1200px) {
    width: 48px;
    height: 16px;
  }
}

.ac.js-enabled.is-active .icon-faq {
  transform: rotate(180deg);
}

.ac .ac-panel .ac-text.faq-text {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  display: inline-block;
  padding: 4px;
  font-size: 16px;

  line-height: 1.25;

  border-radius: 5px;

  background-color: #ddd9d4;
  color: #080606;

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.28;
  }
}

.ac .faq-btn.ac-trigger::after {
  content: '';
}
.ac .faq-btn.ac-trigger:focus {
  color: inherit;
}

.ac.is-active > .ac-header .faq-btn.ac-trigger::after {
  content: '';
}
