.atmosphere {
  background-color: #2c003e;
}

.atmosphere .container {
  padding-top: 48px;
  padding-bottom: 52px;

  @media screen and (min-width: 1200px) {
    padding-top: 64px;
    padding-left: 120px;
    padding-bottom: 64px;
    padding-right: 120px;
  }
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 24px;

  @media screen and (min-width: 1200px) {
    gap: 10px;
    margin-bottom: 40px;
  }
}

.title-svg {
  stroke-width: 2px;
  fill: #ddd9d4;
  width: 36px;
  height: 8px;

  @media screen and (min-width: 1200px) {
    width: 66px;
    height: 10px;
  }
}
.atmosphere-title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 20px;

  line-height: 1.35;
  color: #ddd9d4;

  @media screen and (min-width: 1200px) {
    font-size: 32px;

    line-height: 1.34;
  }
}

.svg-atmo-sword {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    fill: #ddd9d4;
    width: 200px;
    height: 198px;

    position: absolute;
    transform: translate(-46px, -34px);
  }
}

.svg-atmo-staff {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
    fill: #ddd9d4;
    width: 160px;
    height: 160px;
    position: absolute;
    transform: translate(820px, -12px);
  }
}

.atmosphere-list {
  margin-bottom: 16px;

  @media screen and (min-width: 1200px) {
    width: 632px;
    margin-bottom: 0;
  }
}

.atmosphere-item {
  text-align: center;
  line-height: 1.25;
  color: #ddd9d4;

  @media screen and (min-width: 1200px) {
    font-size: 18px;

    line-height: 1.28;
  }
}

.svg-atmo-mob {
  width: 167px;
  height: 167px;

  fill: #ddd9d4;

  display: block;
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}
