.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  color: $_main_color_text;
  background-color: $_main_bg_color;
  z-index: 20;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    margin: 0 auto;

    @media screen and (min-width: 1200px) {
      padding: 16px 120px;
      justify-content: center;
    }
  }
}

.header-logo {
  margin-right: 195px;
}

.header-logo-img {
  width: 40px;
  height: 40px;

  @media screen and (min-width: 1200px) {
    width: 48px;
    height: 48px;
  }
}

.header-nav {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.nav-list {
  display: flex;
  gap: 24px;
}

.nav-item:hover .nav-link,
.burger-item:hover .nav-link {
  color: #fff;
}
.nav-item:focus .nav-link,
.burger-item:focus .nav-link {
  color: #eab5ff;
}

.nav-link {
  font-size: 20px;
  line-height: 1.3;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    line-height: 1.28;
  }
}

.header-burger-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.burger-menu-open {
  width: 28px;
  height: 24px;
  fill: #ddd9d4;
}

.burger-btn {
  width: 40px;
  height: 40px;

  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger-menu {
  position: fixed;
  z-index: 2;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $_main_bg_color;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity, visibility;
}

.burger-menu .container {
  position: relative;
  padding: 40px 24px;
}

.header-menu-close {
  position: absolute;

  width: 24px;
  height: 24px;
  fill: #ddd9d4;
}

.burger-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.burger-btn {
  position: absolute;

  width: 40px;
  height: 40px;

  top: 16px;
  right: 16px;
}
.icon-burger {
  width: 22px;
  height: 22px;
}

[data-visible='open'] {
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transform: translateX(0);
}

[data-visible='close'] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: translateX(100%);
}
