.hero {
  background: #bea0c5;
}

.hero.container {
  position: relative;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 48px;
  padding-top: 64px;
  background-image: url(../img/hero/star.png);
  background-repeat: no-repeat;
  background-position: 2px 5px;
}

.game-title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #080606;
  margin-top: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.game-slogan {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  font-family: 'Lora', sans-serif;
}

.game-description {
  font-weight: 400;
  font-size: 18px;
  color: #080606;
  margin-bottom: 24px;
  margin-top: 12px;
  text-align: left;
}

.download-button {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #080606;
  box-shadow: 0px 4px 8px 0px rgba(44, 0, 62, 0.3);
  display: flex;
  width: 100%;
  max-width: 290px;
  padding: 8px 12px;
  gap: 15px;
  font-size: 16px;
  color: #080606;
  background-color: #779bc3;
  cursor: pointer;
  text-align: left;
}

.button-text {
  display: flex;
  flex-direction: column;
}

.store-name {
}

.game-img {
  margin-top: 64px;
  margin: 0 auto;
}
