.hero {
  background: #bea0c5;
  margin-top: 80px;
}

.hero.container {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 48px;
  padding-top: 64px;
  background-image: url(../img/hero/star.png), url(../img/hero/stars.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 2px 5px, right bottom 113px;
}

.game-title {
  font-family: 'Cinzel Decorative', sans-serif;
  margin-top: 24px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.34;
  color: #080606;
}

.game-slogan {
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  font-family: 'Lora', sans-serif;
  line-height: 1.25;
}

.game-description {
  font-weight: 400;
  font-size: 18px;
  color: #080606;
  margin-bottom: 24px;
  margin-top: 12px;
  text-align: left;
  line-height: 1.25;
}

.download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #080606;
  box-shadow: 0px 4px 8px 0px rgba(44, 0, 62, 0.3);
  width: 100%;
  max-width: 290px;
  padding: 8px 12px;
  gap: 15px;
  color: #080606;
  background-color: #779bc3;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.download-button:hover {
  background: #b2c3d5;
}

.download-button:focus {
  border: 2px solid #080606;
  background: #568ecd;
}

.button-text {
  line-height: 1.25;
}

.game-img {
  margin-top: 64px;
  margin: 0 auto;
}

.google-play {
  line-height: 1.27;
}

.link-text {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 1200px) {
  .hero.container {
    padding-left: 120px;
    padding-right: 43px;
    padding-bottom: 133px;
    padding-top: 0;
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../img/hero/star-desktop.png),
      url(../img/hero/star-desktop.png), url(../img/hero/last-star.png);
    background-position: left 40px top, left 49% bottom -18px,
      right 25px top 20px;
  }

  .game-title {
    font-size: 50px;
    line-height: 1.34;
    width: 468px;
    margin-top: 0;
    gap: 0;
  }

  .game-slogan {
    font-size: 32px;
    line-height: 1.28;
    width: 468px;
  }

  .game-description {
    font-size: 20px;
    line-height: 1.3;
    width: 520px;
    margin-top: 16px;
  }

  .download-button {
    padding: 11px 16px;
    max-width: 200px;
    height: 69px;
  }

  .button-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.27;
    color: #080606;
  }

  .google-play {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #080606;
    display: block;
    width: 110px;
  }

  .game-img {
    width: 475px;
    height: 524px;
    margin: 95px 0 0 0;
  }

  .text-wrap {
    margin-top: 191px;
  }
}
