.hero {
  background: #bea0c5;
}

.hero.container {
  position: relative;
  text-align: center;
  padding: 50px 20px;
}

.game-title {
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #080606;
  margin-top: 345px;
}

.game-slogan {
  font-weight: 400;
  font-size: 24px;
}

.game-description {
  font-weight: 400;
  font-size: 18px;
  color: #080606;
  margin-bottom: 24px;
  margin-top: 12px;
}

.download-button {
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #080606;
  box-shadow: 0px 4px 8px 0px rgba(44, 0, 62, 0.3);
  display: flex;
  width: 100%;
  max-width: 290px;
  padding: 8px 12px;
  gap: 15px;
  font-size: 16px;
  color: #080606;
  background-color: #779bc3;
  cursor: pointer;
  text-align: left;
  margin-bottom: 48px;
}

.button-text {
}

.store-name {
}

.left-img {
  position: absolute;
  height: auto;
  top: 30px;
  left: 15%;
  z-index: 2;
  transform: rotate(357deg);
}

.right-img {
  position: absolute;
  height: auto;
  top: 20px;
  right: 10%;
  transform: rotate(2deg);
  z-index: 1;
}
