.heroes {
  background: #bea0c5;
}

.heroes .container {
  padding: 48px 16px 44px 16px;
}

.heroes-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #080606;
  font-family: 'Cinzel Decorative', sans-serif;
  margin: 0 auto 24px;
  max-width: 149px;
}

.heroes-desc {
  border: 3px solid #2c003e;
  border-radius: 5px;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
  margin-top: 16px;
}

.heroes-img {
  border-radius: 5px;
  width: 288px;
  height: 447px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-pagination-bullet {
}

.swiper-pagination-bullet-active {
}

.swiper-pagination {
}

.swiper .swiper-pagination {
  display: block !important;
  bottom: var(--swiper-pagination-bottom, 20px) !important;
  transform: translateX(-32%) !important;
}

.swiper {
  height: 600px !important;
}

.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
  border-radius: 100% !important;
  background-color: #ddd9d4 !important;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 3px) !important;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1) !important;
}

.swiper-pagination-bullet-active {
  background-color: #2c003e !important;
  width: 6px !important;
  height: 6px !important;
}
