.master {
  background: #bea0c5;
  position: relative;
}

.master.container {
  padding: 48px 16px;
  border: 4px solid #080606;
  background-image: url();
  overflow: hidden;
}

.master-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  text-align: center;
  color: #080606;
  font-family: 'Cinzel Decorative', sans-serif;
  width: 233px;
  margin: 0 auto 12px;
}

.master-slogan {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
  margin-bottom: 24px;
  width: 288px;
}

.corner {
  position: absolute;
}

.top-left {
  top: -5px;
  left: -5px;
}

.top-right {
  top: -5px;
  right: -5px;
  transform: rotate(90deg);
}

.bottom-left {
  bottom: -5px;
  left: -5px;
  transform: rotate(-90deg);
}

.bottom-right {
  bottom: -5px;
  right: -5px;
  transform: rotate(180deg);
}

.master-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #080606;
  box-shadow: 0px 4px 8px 0px rgba(44, 0, 62, 0.3);
  width: 100%;
  max-width: 290px;
  padding: 8px 12px;
  gap: 15px;
  color: #080606;
  background-color: #779bc3;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.master-button:hover {
  background: #b2c3d5;
}

.master-button:focus {
  background: #568ecd;
}

.button-text {
  line-height: 1.27778;
}

@media only screen and (min-width: 1200px) {
  .master-title {
    font-size: 32px;
    line-height: 1.34;
    color: #080606;
    width: 631px;
    margin: 0 auto 24px;
  }

  .master-slogan {
    font-size: 18px;
    line-height: 1.27;
    color: #080606;
    width: 618px;
    margin: 0 auto 40px;
  }

  .master-button {
    margin: 0 auto;
    padding: 11px 16px;
    max-width: 200px;
    height: 69px;
  }

  .button-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.27;
    color: #080606;
  }

  .google-play {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #080606;
    display: block;
    width: 110px;
  }

  .master.container {
    padding: 64px 0;
  }
}
