@import './container.scss';

@import './header.scss';
@import './hero.scss';
@import './about-the-game.scss';
@import './how-to-play.scss';
@import './game-features.scss';
@import './main-heroes.scss';
@import './game-atmosphere.scss';
@import './reviews.scss';
@import './faq.scss';
@import './master.scss';
@import './footer.scss';

@import './privacy.scss';
@import './terms.scss';
@import './modal-cokie.scss';

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
