.terms {
  background-color: #bea0c5;
}

.header-terms .container {
  padding-top: 20px;
  padding-bottom: 24px;
}

.header-terms {
  background-color: #bea0c5;
}

.back {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 1.28;
  text-align: center;
  color: #080606;
}

.svg-back {
  fill: transparent;
  stroke-width: 3px;
  stroke: #080606;
  width: 12px;
  height: 24px;
}

.back-home {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27778;
  text-align: center;
  color: #080606;
  width: 122px;
}

.terms .container {
  padding-bottom: 48px;
}

.terms-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.35;
  color: #080606;
  width: 273px;
  margin: 0 auto 24px;
  font-family: 'Cinzel Decorative', sans-serif;
}

.terms-heading {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
}

.terms-heading-spam {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
}

.terms-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
  margin-bottom: 20px;
}

.terms-description-with-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
}

.intellectual-property {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
  margin-bottom: 20px;
}

.terms-list {
  list-style: disc;
  padding-left: 28px;
}

.terms-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #080606;
}

@media screen and (min-width: 1200px) {
  .terms-title {
    font-size: 32px;
    line-height: 1.34;
    width: 436px;
    margin: 0 auto 40px;
  }

  .terms-description {
    font-size: 18px;
    line-height: 1.27;
    margin-bottom: 24px;
  }

  .terms-heading {
    font-size: 18px;
    line-height: 1.27;
  }

  .svg-back {
    width: 16px;
    height: 32px;
  }

  .back {
    font-size: 20px;
    line-height: 1.3;
  }

  .intellectual-property {
    font-size: 18px;
    line-height: 1.27;
    margin-bottom: 24px;
  }

  .terms-description-with-list {
    font-size: 18px;
    line-height: 1.27;
  }

  .terms-item {
    font-size: 18px;
    line-height: 1.27;
  }

  .last {
    margin-bottom: 0;
  }

  .header-terms .container {
    padding-top: 40px;
    padding-left: 18px;
  }

  .terms .container {
    padding-left: 0;
    padding-right: 0;
  }
}
